




body {

  font-family: 'Roboto', sans-serif;
  background-color: #01041d; 
  color: #dbe1fe;
}

.sidebar {
  
  height: 100vh;
  background-color: #9e0451; 
  color: #dbe1fe; 
  padding-top: 15px; 
  display: flex;
  flex-direction: column;
  position: fixed; 
    top: 0;
    left: 0;
    overflow-y: auto; 
    z-index: 1000;
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;

}

.sidebar a:hover {
  background-color: #f81f19;
}

.content {
  padding: 20px; 
  margin-left: 335px; 
}

.logoBSRI {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.title {
  font-size: 1.5rem; 
  padding-left:15px;
}


.icon-lg {
  font-size: 1.5rem; 
  padding-left: 10px;
  padding-right: 5px;
}

.mt-auto {
  margin-top: auto;
}
.hovered {
  background-color: #ff0000; 
}


