@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(#f1eded,#01041d) #f1eded; /* Sidebar background */
}

.card {
    border-radius: 15px;
    box-shadow: 0px 12px 10px 1px rgba(0, 0, 0, 0.5);
    
}

.card-title {
    color: #333;
}

.form-control {
    height: 45px;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.form-control:focus {
    transform: scale(1.05);
}

.btn-dark {
    border-radius: 30px;
    transition: 0.3s;
}

.btn-dark:hover {
    background: #000;
    transform: scale(1.05);
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.img-container {
    position: absolute;
    width: 450px;
    right: 15px;

}

.img-container img {
    width: 100%;
    height: auto;
}
.img-containe {
    position: absolute;
    width: 150px;
    height: 80px;

}

.img-containe img {
    width: 100%;
    height: auto;
}